.productcard-container {
    width: 100%;
    height: 400px;
    justify-items: center;
    padding-top: 10px;
}

.productcard-container:hover {
    background-color: #fdfdfd;
    border: #eaeaea 1px solid;
}

.productcard-image-container {
    height: 200px;
    margin-bottom: 10px;
    justify-self: center;
}

.productcard-image {
    height: 200px;
    width: auto;
}

.productcard-author {
    font-size: 12px;
}

.productcard-name {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}