.account-btn {
    text-align: center;
}

.account-dropdown-item {
    padding-left: 7px;
    padding-right: 7px;
}

.account-btn-primary {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: #51cab4;
    color: white;
}
.account-btn-secondary {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
}
.account-btn-secondary:hover {
    background-color: #51cab4;
    color: white;
}