.searchbar-form{
    display: flex;
    align-items: center;
    position: relative;
}

.searchbar-input{
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    outline: none;
    width: 600px;
    transition: width 0.3s ease;
}

@media (max-width: 1300px) {
    .searchbar-input{
        width: 450px;
    }
}

@media (max-width: 850px) {
    .searchbar-input{
        width: 300px;
    }
}

.dropdown{
    margin-right: 20px;
    margin-left: 70px;
}